<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin-left: 25px;">
    <form action="/users/login" method="POST">
      <h1 margin = "10cm">Đăng nhập</h1>
      
      <label>Tên</label><br>
      <input type="text" size="25" id="username" name="username"/><br><br>

      <label>Mật khẩu</label><br>
      <input type="text" size="25" id="password" name="password"/><br><br>

      <button type="submit">Đăng nhập</button>
    </form>
  </body>
</html>
