<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin-left: 25px;">
    <form action="/posts/connect?_method=PUT" method="POST">
      <h1 margin = "10cm">Kết nối bài đăng</h1>
      
      <label>_id gia sư</label><br>
      <input type="text" size="25" id="tutor" name="tutor"/><br><br>

      <label>_id bài đăng</label><br>
      <input type="text" size="25" id="post" name="post"/><br><br>

      <button type="submit">Kết nối</button>
    </form>
  </body>
</html>
