@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.action{
    position: absolute;
    top:20px;
    right:5%;
    display: flex;
    justify-content: end;
}
.action .profile447{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile447 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.action .menu447{
    position: absolute;
    top:80px;
    right:0px;
    padding:10px 20px;
    background:#EBE8E8;
    width:200px;
    box-sizing:0 5px 25px rgba(0, 0, 0, 1);
    border-radius: 15px;
    transition:0.5s;
}
.action .menu447 h3{
    width: 100%;
    text-align:center;
    font-size:18px;
    padding:20px 0;
    font-weight:500;
    color:#555;
    line-height:1.2em;

}
.action .menu447::before{
    content:'';
    position:absolute;
    top:-5px;
    right:28px;
    width:20px;
    height:20px;
    background: #EBE8E8;
    transform: rotate(45deg);
}
.action .menu447 ul li{
    list-style:none;
    padding:10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction:flex;
    align-items:center;
    justify-content:center;
    font-size: 12px;
}
.fix446{
    align-items:center; 
    text-align:center;
}
.fix447{
    list-style:none;
    padding:10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction:flex;
    align-items:center;
    justify-content:center;
    font-size: 12px;
}
li{
    text-align: center;
    cursor:pointer;
}
.action {
    top: 0px;
}
.link447{
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
}