<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin-left: 25px; background-color: rgb(255, 255, 255); color : rgb(0, 0, 0);">
    <form action="/posts/post" method="POST">
      <h1>Đăng bài tìm kiếm gia sư</h1>

      <label>user</label><br>
      <input type="text" size="25" id="user" name="user" /><br><br>

      <label>Tiêu đề</label><br>
      <input type="text" size="25" id="title" name="title"/><br><br>

      <label>Thông tin thêm</label><br>
      <input type="text" size="25" id="information" name="information"/><br><br>

      <label>Môn học</label><br>
      <input type="text" size="25" id="subject" name="subject"/><br><br>

      <label>Lớp</label><br>
      <input type="number" size="25" id="grade" name="grade"/><br><br>

      <label">Học phí</label><br>
      <input type="number" size="25" id="fee" name="fee"/><br><br>

      <label">Giới tính gia sư</label><br>
      <input type="text" size="25" id="gender" name="gender"/><br><br>

      <label">Trình độ gia sư</label><br>
      <input type="text" size="25" id="literacy" name="literacy"/><br><br>

      <label">Số lượng buổi học</label><br>
      <input type="number" size="25" id="lessons" name="lessons"/><br><br>

      <label">Thời lượng buổi học</label><br>
      <input type="number" size="25" id="time" name="time"/><br><br>

      <button type="submit">Đăng bài</button>
    </form>
  </body>
</html>
