<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin-left: 25px; background-color: rgb(255, 255, 255); color : rgb(0, 0, 0);">
    <form action="/users/register" method="POST">
      <h1>Đăng kí tài khoản</h1>

      <label>Họ và tên</label><br>
      <input type="text" size="25" id="name" name="name" /><br><br>

      <label>Giới tính</label><br>
      <input type="text" size="25" id="gender" name="gender"/><br><br>

      <label>Email</label><br>
      <input type="text" size="25" id="email" name="email"/><br><br>

      <label>Tên đăng nhập</label><br>
      <input type="text" size="25" id="user_name" name="user_name"/><br><br>

      <label">Mật khẩu</label><br>
      <input type="text" size="25" id="password" name="password"/><br><br>

      <button type="submit">Đăng kí</button>
    </form>
  </body>
</html>
