<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin-left: 25px; background-color: rgb(255, 255, 255); color : rgb(0, 0, 0);">
    <form action="/tutors/register?_method=PUT" method="POST">
      <h1>Nâng cấp lên gia sư</h1>

      <label>Tên đăng nhập</label><br>
      <input type="text" size="25" id="user_name" name="user_name" /><br><br>

      <label">Chuyên ngành</label><br>
      <input type="text" size="25" id="major" name="major"/><br><br>

      <label>Trình độ</label><br>
      <input type="text" size="25" id="literacy" name="literacy" /><br><br>

      <label>Học phí</label><br>
      <input type="number" size="25" id="fee" name="fee" /><br><br>

      <label>Lớp có thể dạy</label><br>
      <input type="text" size="25" id="classes" name="classes"/><br><br>

      <button type="submit">Cập nhật</button>
    </form>
  </body>
</html>
