.posts-grid-layout40 {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    align-items: center;
}

.posts-grid-main-layout40 {
    position: static;
    display: grid;
    grid-template-columns: 25% 75%;
}