.post-items-list-layout40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.post-items-list-parent-layout40{
    margin-top: 70px;
    width: 100vmax;
}

.posts-grid-main-layout40 {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}