.post-items-list-layout40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.posts-grid-main-layout40 {
    position: static;
    display: grid;
    grid-template-columns: 25% 75%;
}