.post-item-frame40 {
    padding: 30px;
    border-radius: 50px;
    margin-top: 30px;
    height: 350px;
    width:95%;


    background-color: rgba(180, 180, 180, 0.5);
    
    position:static;
}

.post-item-grid-title40 {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 60px;
    align-items: center;
}

.group-user-grid40 {
    display: grid;
    grid-template-columns: 60px 200px;
    grid-template-rows: 60px;
}

.username-post-item40 {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    vertical-align:middle;
    font-size:x-large;
    font: bold;
    color: black;
}
.username-post-item40:hover{
    color: #ED8201;
}

.title-post-item40 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width:100%;
    height: 60px;
    border-radius: 10px;

    background-color: white;
    color: black;

    text-align:left;
    vertical-align:middle;
    font-size:x-large;
    font: bold;
}
.title-post-item40:hover{
    color: #ED8201;
}


.user-img-post-item40 {
    display: inline-block;
    position: relative;
    object-fit: fill;
    height: 100%; 
    width: 100%;
    border-radius: 50%;
}


.bounder-user-img-post-item40 {
    display: inline-block;
    position: relative;
    object-fit: fill;
    padding: 2px;
    height: 60px; 
    width: 60px;
    border-radius: 50%;
    background-color: orange;
}
.bounder-user-img-post-item40:hover{
    background-color: #ED8201;
}

.grid-2x3-subitem40 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    margin-left: 5%;
    margin-right: 5%;
}


.img-label-detail40 {
    margin-top: 20px;
    align-items: center;
    display: flex;
    min-width: 320px;
    width: 100;
    height: 100;
}

.placeholder-text-40 {
    align-items: flex-end;
    display: flex;
    height: 15px;
    margin-left: 1.03px;
    margin-top: 14px;
    width: 220px;
  
    color: rgb(105, 102, 102);
    font-family: montserrat;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}