.post-item-frame {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    left: 20px;
    border-radius: 20px;


    background-color: darkgrey;
    
    position: relative;
}