.search-frame40 {
    position: sticky;
    top: 70px;
    display: flex;
    height: max-content;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFDD88;
}

.text-search-frame40 {
    display: inline-block;
    font-size: 1rem;
    color: #012345;
}

.search-grid-layout40 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 50px 70px 70px 70px 80px 20px 90px 60px;
    align-items: center;
}

.search-sub-grid-layout40 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px;
    align-items: center;
}

.text-item-search-frame40 {
    display: inline-block;
    font-size: 1rem;
    color: #654321;
}

.search-input-full {
    display: block;
    padding-left: 10px;
    /*outline: none;*/
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.search-input-full::placeholder {
    color: #595959;
    font-size: 1rem;
}

.search-choice-haft40 {
    height: 40px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    /*outline: none;*/
    border: normal;
    border-radius: 2px;
    text-align: center;
    border: none;
}

.search-choice-full40 {
    height: 40px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    /*outline: none;*/
    border: normal;
    border-radius: 2px;
    text-align: center;
    border: none;
}

.search-button {
    letter-spacing: 0;
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    white-space: nowrap;

    font-family:    Montserrat, sans-serif;
    font-size:      1.8rem;
    font-weight:    bold;
}

.button-occupation-ok40 {
    background-color: #FE9312;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 3px 1px #9E9E9E;
}

.button-occupation-cancel40 {
    background-color: gray;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 3px 1px #9E9E9E;
}