.search-input-haft {
    display: block;
    padding-left: 10px;
    /*outline: none;*/
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.search-input-haft::placeholder {
    color: #595959;
    font-size: 1rem;
}
