.tutor-item-frame40 {
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 350px;
    width:950px;


    background-color: #DDDDDD;
    
    position:static;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.flex-column-tutor-list40{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-item-grid-title40 {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: 60px;
}

.group-user-grid40 {
    display: grid;
    grid-template-columns: 60px 200px;
    grid-template-rows: 60px;
}

.username-tutor-item40 {
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align:middle;
    font-size:xx-large;
    font: bold;
    color: black;
}


.user-img-tutor-item40 {
    display: inline-block;
    position: relative;
    object-fit: fill;
    height: 200px; 
    width: 200px;
    border-radius: 100px;
}

.grid-3x2-subitem40 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 33% 33% 33%;
    margin-left: 5%;
}


.img-label-detail40 {
    margin-top: 20px;
    align-items: center;
    display: flex;
    min-width: 320px;
    width: 100;
    height: 100;
}

.placeholder-text-40 {
    align-items: flex-end;
    display: flex;
    height: 15px;
    margin-left: 1.03px;
    margin-top: 14px;
    width: 220px;
  
    color: rgb(105, 102, 102);
    font-family: montserrat;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}