.post-items-list-layout40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.posts-grid-main-layout40 {
    position: static;
    display: grid;
    grid-template-columns: 25% 75%;
}

.header-frame40 {
    height: 120px;
    width: 950px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.footer-frame40 {
    height: 120px;
    width: 950px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.title1-40 {
    padding-left: 50px;
    padding-top: 30px;
    text-align: left;
    vertical-align: text-bottom;
    font-size: 2rem;
    color: #123456;
}

.title2-40 {
    padding-left: 50px;
    padding-top: 30px;
    text-align: left;
    vertical-align: text-bottom;
    font-size: 1.5rem;
    color: #654321;
}


.footer-flex-row40 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.page-number40 {
    display: block;
    padding-left: 10px;
    border:black;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #654321;
    height: 40px;
    width: 60px;
    margin-left: 5px;
    margin-top: 30px;
}